useDynLib(FMPR)
export(
   "optim.fmpr",
   "optim.lasso",
   "optim.elnet.glmnet",
   "optim.ridge",
   "crossval.fmpr",
   "crossval.lasso",
   "crossval.elnet.glmnet",
   "crossval.ridge",
   "fmpr",
   "lasso",
   "ridge",
   "fmpr.warm",
   "maxlambda1",
   "getB",
   "blockX",
   "makedata",
   "run.lasso",
   "recovery",
   "center",
   "run",
   "R2"
)


