useDynLib(FMPR)

S3method(plot, exper)

export(
   "optim.fmpr",
   "optim.fmpr.grid",
   "optim.fmpr.search",
   "optim.lasso",
   "optim.elnet",
   "optim.ridge",
   "optim.spg",
   "crossval.fmpr",
   "crossval.lasso",
   "crossval.elnet",
   "crossval.ridge",
   "crossval.spg",
   "fmpr",
   "fmpr.warm",
   "lasso",
   "ridge",
   "spg",
   "maxlambda1",
   "getB",
   "blockX",
   "R2",
   "run",
   "plot.exper",
   "graph.sqr",
   "graph.ind",
   "graph.abs",
   "gennetwork",
   "spg.test",
   "run.spg.test",
   "graph.ind",
   "graph.sqr",
   "graph.abs"
)


