useDynLib(FMPR)

S3method(plot, exper)

export(
   "optim.fmpr",
   "optim.fmpr.grid",
   "optim.fmpr.search",
   "optim.ridge",
   "optim.spg",
   "crossval.fmpr",
   "crossval.ridge",
   "crossval.spg",
   "fmpr",
   "ridge",
   "spg",
   "maxlambda1",
   "getB",
   "blockX",
   "R2",
   "run",
   "plot.exper",
   "gennetwork",
   "spg.test",
   "run.spg.test",
   "makedata"
)


